.hero {
  background-image: url('./images/bg-01.jpg');
  background-size: cover;
  background-color: darkslateblue;
  background-blend-mode: overlay;
}

.rbg-gradient{
  color: white;
  background: rgb(187, 15, 230);
}